<!DOCTYPE html>
{% load static %}

<html lang="es">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="{% static "/favicon.ico" %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Overpass:wght@200;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{% static "css/login.css" %}">
		<title>Sistema de operaciones y VP | Solicitud de cambio de contraseña</title>
        <style type="text/css">
            .logo {
                padding-left: 15px;
            }
		</style>
	</head>
	<body>
		<div class="box">
			
            <div class="box__login">
                <a href="/" class="logo">
                    <img height="100px" src="{{environment}}://{{host}}/static/logo_report.jpeg">
                </a>
				<div class="box__login__title" style="text-align: center;">Solicitud de cambio de contraseña</div>
				<form method="POST">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<span class="material-icons-outlined"> mail </span>
							</span>
						</div>
						<input
							type="text"
							name="email"
							class="form-control"
							placeholder="Correo electronico"
							aria-label="Correo electronico"
						/>
					</div>
					<button class="btn btn-primary box__login__btn">Enviar</button>
				</form>
                {% if error %}
				<div class="alert alert-danger">{{error | linebreaksbr}}</div>
				{% endif %}
                {% if success %}
				<div class="alert alert-succes">{{success | linebreaksbr}}</div>
				{% endif %}
			</div>
		</div>
	</body>
</html>