<!DOCTYPE html>
{% load static %}

<html lang="es">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="{% static "/favicon.ico" %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Overpass:wght@200;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{% static "css/login.css" %}">
		<title>Sistema de operaciones y VP | {{username}} | Reinicio de contraseña</title>
		<style type="text/css">
            .logo {
                padding-left: 15px;
            }
		</style>
	</head>
	<body>
		<div class="box">
            <div class="box__login">
				<a href="/" class="logo">
                    <img height="100px" src="{{environment}}://{{host}}/static/logo_report.jpeg">
                </a>
				<div class="box__login__title">Cambiar contraseña</div>
				<form method="POST">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<span class="material-icons-outlined"> lock </span>
							</span>
						</div>
						<input
							type="password"
							name="password"
							id="password"
							value="{{password}}"
							required
							class="form-control"
							placeholder="Nueva Contraseña"
							aria-label="Nueva Contraseña"
						/>
						<div class="input-group-prepend">
							<span class="input-group-text">
								<input type="checkbox" onclick="myFunction()">
							</span>
						</div>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<span class="material-icons-outlined"> lock </span>
							</span>
						</div>
						<input
							type="password"
							name="password_repeat"
							value="{{password_repeat}}"
							required
							class="form-control"
							placeholder="Repetir Contraseña"
							aria-label="Repetir Contraseña"
						/>
					</div>
					<button class="btn btn-primary box__login__btn">Enviar</button>
				</form>
                {% if message %}
				<div class="alert alert-danger">{{message | linebreaksbr}}</div>
				{% endif %}
			</div>
		</div>
		<script>
			function myFunction() {
				var x = document.getElementById("password");
			  	if (x.type === "password") {
					x.type = "text";
			  	} else {
					x.type = "password";
			  	}
			}
		</script>
	</body>
</html>
